@model IEnumerable<MovieRentalApp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("NEW CUSTOMER", "new", "", new {@class="btn btn-primary" })
<p></p>
@if (!Model.Any())
{
    <text> No Customer Available. </text>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.DiscountRate</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id " class="btn-link js-delete">Delete</button> @* js injs-delete here means it's purely for javascript, not for display*@
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?", function () {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parent("tr").remove(); @* this is a callback function, and the meaning of 'this' is different from the above 'this'.
                                so we need defined a button variable first *@
                                location.reload(true);
                            }
                        });
                    }
                });
            });
        });
    </script>
    }
